

# Interview Requesters
Represents a interview requester object. Can be used to send interview request via email.

## Interview Requester Object

```json
{
  "id": "iwreq_nhya6muq0q8pvxn",
  "name": "OnVoard Interview Requester",
  "content": "<p><em>Answer the questions below to complete your interview.</em></p>",
  "active": true,
  "tracking_on": true,
  "dedup_window": null
}
```


### Attributes
Field | Type | Description
--------- | ------- | -----------
id | string | Unique identifier for the object.
name | string | Name for interview requester.
content | string | Interview content in HTML.
active | boolean | Active state of interview requester. Archived interview requester will be `false`.
tracking_on | boolean | Will be `true` if tracking is turned on.
dedup_window | integer | Number of days to lookback and deduplicate so you can avoid sending interview requests to the same email.


## Retrieve Interview Requester

> Example Request

```shell
curl 'https://api.onvoard.com/v1/interview-requesters/iwreq_nhya6muq0q8pvxn' \
-H 'X-API-Key: {API_KEY}'
```

> Example Response

```json
{
  "id": "iwreq_nhya6muq0q8pvxn",
  "name": "OnVoard Interview Requester",
  "content": "<p><em>Answer the questions below to complete your interview.</em></p>",
  "active": true,
  "tracking_on": true,
  "dedup_window": null
}
```

Retrieve interview requester with given ID.

### HTTP Request
`GET https://api.onvoard.com/v1/interview-requesters/:interview_requester_id`

### Returns
Interview requester object if valid ID was provided.


## Patch Interview Requester

> Example Request

```shell
curl 'https://api.onvoard.com/v1/interview-requesters/iwreq_nhya6muq0q8pvxn' \
-H 'X-API-Key: {API_KEY}'
-d active=false
```

> Example Response

```json
{
  "id": "iwreq_nhya6muq0q8pvxn",
  "name": "OnVoard Interview Requester",
  "content": "<p><em>Answer the questions below to complete your interview.</em></p>",
  "active": false,
  "tracking_on": true,
  "dedup_window": null
}
```

Patch interview requester with given ID.

### HTTP Request
`PATCH https://api.onvoard.com/v1/interview-requesters/:interview_requester_id`

### Returns
Modified interview requester object if patch succeeded.

### Arguments
Field | Type | Required | Description
--------- | ------- | ----------- | -----------
active | boolean | No | Active state of interview requester.



## Send Interview Request

> Example Request

```shell
curl 'https://api.onvoard.com/v1/interview-requesters/iwreq_nhya6muq0q8pvxn/send' \
-H 'X-API-Key: {API_KEY}'
-d name="John Doe" \
-d company="Acme Corp" \
-d email="johndoe@gmail.com"
```

> Example Response

```json
{
  "id": "iwrpt_trrr1grp5fcroahqe2nb583pn",
  "tracking_id": "TJSYiF3mzf8DeGCHEOhk",
  "test": false,
  "name": "John Doe",
  "email": "johndoe@gmail.com",
  "lag_window": null,
  "status": "NA",
  "sent_from": "CONSOLE",
  "error_msg": "",
  "created_timestamp": 1560237961,
  "reminder": {
    "status": "NA",
    "error_msg": ""
  },
  "activities": [{
    "id": "ldact_1v48gdzek5tshgbxflaoly97tx46kz",
    "type": "SENT_INTERVIEW_REQUEST",
    "created_timestamp": 1560237961
  }],
  "company": "Acme Corp",
  "requester": {
    "id": "iwreq_nhya6muq0q8pvxn",
    "name": "OnVoard Interview Requester"
  },
  "interview_instructions": {
    "status": "NA",
    "error_msg": ""
  }
}
```

Send interview request with given ID.

### HTTP Request
`POST https://api.onvoard.com/v1/interview-requesters/:interview_requester_id/send`

### Returns
[Interview Requester Recipient Object](#recipients-interview-requester-recipient-object) if interview request was sent.


### Arguments
Field | Type | Required | Description
--------- | ------- | ----------- | -----------
email | string | Yes | Email address to send.
company | string | No | Company name if recipient represents a company.
name | string | No | Name of recipient. We will automatically extract first and last name.
lag_window | integer | No | Send interview request after indicated number of minutes. If specified, lag window must be between 10 and 10080 (7 days).


## List all Interview Requesters

> Example Request

```shell
curl 'https://api.onvoard.com/v1/interview-requesters' \
-H 'X-API-Key: {API_KEY}'
```

> Example Response

```json
{
  "num_records": 1,
  "num_pages": 1,
  "current_page": 1,
  "results": [{
    "id": "iwreq_nhya6muq0q8pvxn",
    "name": "OnVoard Interview Requester",
    "content": "<p><em>Answer the questions below to complete your interview.</em></p>",
    "active": true,
    "tracking_on": true,
    "dedup_window": null
  }]
}
```

List all interview requesters user has access to.

### HTTP Request
`GET https://api.onvoard.com/v1/interview-requests`

### Returns
List of interview request objects.

### Arguments
Field | Type | Description
--------- | ------- | -----------
active | boolean | Use `true` if you only want to return active interview requesters and `false` to return archived interview requests.
tracking_on | boolean | Filter by tracking status.
keyword | string | Filter by specific keyword.
account | string | Account ID to filter. Used when organization manage more than one account.
page | integer | Traverse to specific page. Page index starts from `1`.
page_size | integer | Number of records you want to return for each page. Can be from `1` to `100`. Default is `10`.
